{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1><a href="{{ path('product_index') }}">Cliquez ici pour accéder au demo</a></h1>
{% endblock %}
